@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: auto;
  font-family: 'Roboto', sans-serif;

  header {
    height: 80px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
  }

  main {
    height: calc(100% - 80px);
    padding: 50px 0;

    .container {
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;

      ul {
        list-style: none;

        li {
          margin: 15px 0;
        }
      }
    }
  }
}